html,body{
  font-family: 'Roboto', sans-serif;
  width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    display: inline;
}

.aboutMe{
  background-color: #212529;
  color: whitesmoke;
  height: 100vh;
  
}
.menu{
  justify-content: flex-end;
}
.menuData{
  /* border: 1px solid #3b82f6; */
  padding-top: 20px;
  margin-bottom: 25px;
  position: relative;
  right: 0px;
  margin-left: 50px;

}
.menuData:hover{
  cursor: pointer;
  border-bottom:1px solid;
  border-color: #3b82f6;
  background-size: 100% 5px, auto;
 
}
.menuIcon{
  color: whitesmoke;
  display: none;
}
.navBar{
  position: sticky;
  top: 0px;
}
.intro{
  font-weight: bolder;
  font-size:  50px;
}

.selfIntro{
  text-align: center;
  padding-top: 25vh;
  font-size: 27px;

}
.name{
  font-size: 25px;
  position: relative;
  top:8px;
}
.pardeep{
  color: #3b82f6;
}
.projectGitBtn{
  text-align: center;
  padding-bottom: 150px;
}
.gitbtn{
  margin-left: 10px;
}
.upIcon{
  position: fixed;
  left: 10px;
  bottom: 30px;
  background-color: #3b82f6;
  color: whitesmoke;
}
.topic{
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 50px;
}
.mySkills{
  background-color: white;
  color: black;
}
.skillsLogo{
 width: 65px;
 background-color: white;
}
.logoWithTag{
  text-align: center;
}
.logoWithTag:hover{
   transition: 0.5s;
   transform: scale(1.5);
}
.colleges{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 7%;
  border: 1px ;
}
.cegLogo{
  padding: 30px;
  padding-left: 15vw;
}

.msc{
  padding-top: 9vh;
  padding-left: 20vw;
}
.projectWork{
  background-color: #212529;
}
.contactMe{
  margin-top: 8%;
  width: 100%;
}
.email{
  border:1px ;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  text-align: center;
  padding-bottom: 20px;
  margin: auto;
  margin-top: 30px;
}
.emailIcon{
  margin-top: 30px;
  margin-bottom: 15px;
}
.emailIcon:hover{
  transition: 0.5s;
  transform: scale(1.3);
}
.sendMail{
  border:1px ;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  text-align: center;
  padding-bottom: 20px;
  margin: auto;
  margin-top: 30px;
}

.footer{
  width: 100%;
  background-color: #212529;
  color: whitesmoke;
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

